.addServices_title_username {
	height: 70px;
}

.addServices {
	background-color: #f4f7fc;
	height: 100vh;
}

.form-control {
	border: none;
	padding: 2rem 0.75rem;
	border-radius: 10px;
}

.form_inputs {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}

.form_inputs input,
.form_inputs textarea {
	border: 1px solid lightgray;
}
