.primary-button {
	background-color: #111430;
	color: white;
}

.primary-background {
	background-color: #fbd062;
}

.primary-ptag {
	font-size: 18px;
	font-weight: 600;
	color: #111430;
}

.green {
	color: #91c076;
}
